@model IEnumerable<ExoticsOwnersRegistry.Models.CarModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carMaker.makeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carMaker.makeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.modelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.modelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.modelID })
        </td>
    </tr>
}

</table>
