@model IEnumerable<ExoticsOwnersRegistry.Models.CarSubModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carModel.modelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subModelDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carModel.modelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subModelDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.subModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subModelID })
        </td>
    </tr>
}

</table>
