@model ExoticsOwnersRegistry.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.carDetails.originalExteriorColor)</dt>
        <dd>@Html.DisplayFor(model => model.carDetails.originalExteriorColor)</dd>
        <dt>@Html.DisplayNameFor(model => model.carMaker.makeName)</dt>
        <dd>@Html.DisplayFor(model => model.carMaker.makeName)</dd>
        <dt>@Html.DisplayNameFor(model => model.carModel.modelName)</dt>
        <dd>@Html.DisplayFor(model => model.carModel.modelName)</dd>
        <dt>@Html.DisplayNameFor(model => model.carSubModel.subModelName)</dt>
        <dd>@Html.DisplayFor(model => model.carSubModel.subModelName)</dd>
        <dt>@Html.DisplayNameFor(model => model.VIN)</dt>
        <dd>@Html.DisplayFor(model => model.VIN)</dd>
        <dt>@Html.DisplayNameFor(model => model.approvalStatus)</dt>
        <dd>@Html.DisplayFor(model => model.approvalStatus)</dd>
        <dt>@Html.DisplayNameFor(model => model.bHideCar)</dt>
        <dd>@Html.DisplayFor(model => model.bHideCar)</dd>
        <dt>@Html.DisplayNameFor(model => model.TimeStamp)</dt>
        <dd>@Html.DisplayFor(model => model.TimeStamp)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.carID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
